@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", "Archivo", sans-serif;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Archivo", sans-serif mpor !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}
@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 10px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 3px 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: flex;
  justify-content: center;
}
.social-icon a {
  width: 60px;
  height: 60px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 60%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Banner */
.background-video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 27%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8) saturate(1.5);
}

.computerCanvas {
  margin-top: -20px;
  margin-left: 20px;
  height: 400px;
  width: 100%;
}
.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.introduction {
  border-radius: 20px;
  padding: 4rem;
}

.highlight {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: linear-gradient(
    90.21deg,
    rgba(181, 0, 108, 0.429) -5.91%,
    rgba(90, 18, 103, 0) 111.58%
  );
}

.banner h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.3;
  margin-bottom: 26px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

/* Skills */

.skill {
  padding: 40px 0 0px 0;
  margin-top: 400px;
  position: relative;
  width: 100%;
  background-color: #121212;
}
.skill-bx {
  background-color: #1d013a;
  text-align: center;
  padding: 60px 50px;
  margin-top: -500px;
  border-radius: 10px;
}
.skill h2 {
  font-size: 35px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 65px 0;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.skill-slider button {
  background-color: #350230;
}
.skill-slider button:hover {
  background-color: #3b17aa;
}
.skill-slider button:active {
  background-color: #5a2be6;
  transform: translateY(2px);
}

.skill-slider .item img {
  width: 80%;
  margin: 0 auto 15px auto;
}

/* Projects */
.project {
  padding: 0px 0;
  position: relative;
  background-color: rgb(183, 73, 0);
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.proj-imgbx {
  margin-top: 2rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #4636aa -5.91%, #350230 111.58%);
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
  color: #fff;
}
.proj-txtx h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.project-testimonials-devider {
  margin-bottom: -20px;
}

.programming-skills-wrapper {
  background-color: #000;
}

.programming-skills {
  background-color: #1c1732;
  text-align: center;
  padding: 1rem;
  width: 120px;
  color: rgba(253, 253, 253, 0.817);
  border-radius: 8px;
}
.programming-skills:hover {
  font-weight: 700;
  color: #ffffff;
}

/* Testimonials */

.testimonials {
  background: rgb(60, 23, 62);
  padding: 0px 0px;
}

.testimonial {
  padding: 1rem;
  margin: 2rem 1rem;
  backdrop-filter: brightness(1.2) opacity(0.8);

  border-radius: 20px;
}

.testimonial-name {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.testimonial-relation {
  font-size: 1.2rem;
}

.testimonials h1 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.testimonials h5 {
  font-size: 18px;
  color: #b8b8b8;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 60px auto;
  text-align: center;
  width: 80%;
}

.testimonials p {
  line-height: 1.5;
}

/* Form */

.contact-wrapper {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  margin-bottom: 30px;
}

.contact {
  backdrop-filter: blur(10px) opacity(0.8) brightness(1.6);
  padding: 20px;
  margin: 30px 40px;
  border-radius: 36px;
}
.contact img {
  width: 70%;
}
.contact h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact .internship {
  color: #b8b8b8;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(45, 33, 76, 0.153);
  border-radius: 10px;
  color: rgb(9, 27, 55);
  margin: 0 0 12px 0;
  padding: 8px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: var(--background-color);
  padding: 10px 52px;
  font-size: 18px;
  margin: 12px 0px;

  position: relative;
  cursor: pointer;
  border: none;
  outline: none;

  --background-color: #fff;
  --border-size: 2px;
}
.contact form button:hover {
  font-weight: 700;
  background-color: rgba(242, 242, 242, 0.751);
  padding: 10px 52px;
  font-size: 18px;
  margin: 12px 0px;

  position: relative;
  cursor: pointer;
  border: none;
  outline: none;

  --background-color: #fff;
  --border-size: 2px;
}

.contact form button::before {
  content: "";
  position: absolute;
  background: #121212;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
}
.contact form button:hover::before,
.contact form button:focus::before {
  top: calc(var(--border-size) * -3);
  left: calc(var(--border-size) * -3);
  right: calc(var(--border-size) * -3);
  bottom: calc(var(--border-size) * -3);
  border-radius: 4;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

/*Footer*/
.footer {
  padding: 0 0 50px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.toolbox-wrapper {
  padding: 2rem;
  background-color: rgb(183, 73, 0);
}

.toolbox {
  display: flex;
  justify-content: space-around;
}

.toolbox img {
  width: 60%;
}

.toolbox p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.toolbox-wrapper h2 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 40px;
}

.toolbox .skill-card {
  display: flex;
  border: none;
  background: linear-gradient(90.21deg, #4636aacb -5.91%, #350230bf 111.58%);
  height: auto;
  margin-bottom: 2rem;
  width: 100%;
}
.toolbox .skill-card:hover {
  background: linear-gradient(90.21deg, #4262d5cb -5.91%, #8d0980bf 111.58%);
  font-weight: 900;
}

.skill-icon {
  width: 200px;
}
